@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

:root {
    --brand: #fc372d;
    --action: #ff5c00;
    --body-text: #666;
    --white: #ffffff;
    --base-light: #cdb5df;
    --base-dark: #111111;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Utilities */

.display-none {
    display: none;
}

/* Components */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

header .mobile-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    all: unset;
}

.mobile-nav a {
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 4px 16px;
}

.desktop-nav {
    display: none;
}

.desktop-nav a {
    text-decoration: none;
    color: var(--link-color, black);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.desktop-nav a:hover {
    color: var(--hover-color, #fc372d);
}

.logo {
    height: 50px;
}

.desktop-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-nav ul li {
    display: inline;
    margin-right: 20px;
}

.desktop-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.hamburger-icon {
    height: 50px;
}

.hero-btn {
    position: absolute;
    left: 40%;
    top: 50%;
    right: auto;
    bottom: auto;
    display: flex;
    width: 146px;
    height: 146px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--action);
    transform: translate(-50%, -50%);
    color: var(--white);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition for transform and background color */
}

.hero-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: var(--brand);
    cursor: pointer;
}

.btn-project {
    display: inline-flex;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e5e5e5;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #e5e5e5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: linear;
    color: #0c0407;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02px;
    text-decoration: none;
}

.btn-project:hover {
    background-color: var(--brand);
    color: var(--white);
}

.btn-text {
    padding-right: 4px;
    text-decoration: none;
}

.project-layout-btn-wrap {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.hero-section {
    padding-top: 147px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-spacing {
padding-right: 20px;
padding-left: 20px;
}

.hero-container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.hero-section-text {
    margin-bottom: 0px;
    color: #0c0407;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03px;
}

.hero-h1-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--black);
    font-size: 155px;
    line-height: 200px;
    font-weight: 600;
    letter-spacing: -3px;
}

.hero-h2-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--black);
    font-size: 72px;
    font-weight: 500;
    line-height: 72px;
}

.hero-content-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
}

.hero-text-wrap {
    width: 100%;
    max-width: 328px;
    margin-bottom: 170px;
}

.hero-text {
    margin-top: 40px;
    margin-bottom: 0px;
    color: var(--body-text);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02px;
}

.hero-thumb-wrap {
    overflow: hidden;
    width: 100%;
    max-width: 532px;
}

.hero-thumb {
    width: 80%;
    height: 80%;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: linear;
    object-fit: cover;
}

.hero-thumb:hover {
    transform: scale(1.1);
}

/* Articles */

.articles-container {
    display: grid;
    padding-top: 80px;
}

.articles-container-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.project-title-wrap {
    margin-bottom: 46px;
}

.project-img {
    overflow: hidden;
    width: 100%;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: linear;
    object-fit: cover;
}

.project-img:hover {
    transform: scale(1.1);
}

.project-h2-text {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    color: #0c0407;
    font-size: 72px;
    line-height: 92%;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.03px;
}

.article-content-wrap {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.project-title {
    margin-top: 40px;
    margin-bottom: 20px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: linear;
    color: #0c0407;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.03px;
    text-decoration: none;
}

.project-text {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02px;
}

.project-layout-btn-wrap {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.btn-text {
    padding-right: 4px;
    text-decoration: none;
}

.project-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5%;
    background-color: #f4f4f4;
}

.project-image {
    width: 50%;
    padding-right: 20px;
}

.project-info {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.project-info h1, .project-info p {
    margin-bottom: 10px;
}

/* Contact area */

.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 102px 50px 45px;
    background-color: #f8f8f8;
}

.contact-content {
    flex: 1;
    padding-right: 20px;
}

.contact-h2 {
    margin-bottom: 20px;
    color: #0c0407;
    font-size: 60px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: -0.03px;
}

.contact-text {
    color: var(--body-text);
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

.btn-contact-top-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-contact-top {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    max-width: 200px;
    width: 100%;
    background-color: white;
    color: var(--dark-text);
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-contact-top:hover {
    background-color: var(--brand);
    color: white;
    border-color: var(--brand);
}

.form-container {
    flex: 1;
    padding-left: 20px;
}

.form {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #0c0407;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form input:placeholder {
    color: grey;
}

.contact-form input:focus {
    border-top-color: var(--primary);
    border-right-color: var(--primary);
    border-bottom-color: var(--primary);
    border-left-color: var(--primary);
}

.contact-form textarea {
    height: 120px;
    resize: vertical;
}

.contact-form select {
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

/* Footer area */

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e1e1e1;
}

footer a {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
}

.socials-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

footer a:hover .socials-icon {
    transform: scale(1.1);
}


/* @Media queries */

@media (min-width: 768px) {
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    header nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
    }

    header .mobile-header .hamburger-icon {
    display: none;
    justify-content: space-between;
    }

    .logo {
    height: 40px;
    }

    .desktop-nav a {
    text-decoration: none;
    font-size: larger;
    color: var(--black);
    }

    .desktop-nav {
    display: inline-block;
    }

    .hero-section {
    padding-top: 138px;
    padding-bottom: 0;
    }
}

/* Default styles for larger screens */
.hero-content-wrap {
    display: flex;
    justify-content: space-between; /* Aligns items on the main axis */
    align-items: center; /* Aligns items on the cross axis */
    padding: 20px; /* Add some padding */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .hero-content-wrap {
        flex-direction: column; /* Stack elements vertically */
    }

    .hero-btn {
        order: 1; /* Ensure the button comes after the text */
        margin-top: 20px; /* Add space between the text and the button */
    }
}