@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

:root {
    --brand: #fc372d;
    --action: #ff5c00;
    --white: #ffffff;
    --base-light: #cdb5df;
    --base-dark: #111111;
}